
<section>
	@*<link href="~/Content/LoReg.css" rel="stylesheet" />*@
	<link rel="stylesheet" href="~/Content/form.css">
		@*<link rel="stylesheet" href="~/Content/Pal/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="~/Content/Pal/assets/css/noscript.css" /></noscript>*@

</section>
<div style="color:green">
    @ViewBag.Message
</div>
<div style="color:red">
    @ViewBag.Error
</div>
<div class="row">
	<form method="post" class="father-form align-center">
		@if (ViewBag.error == 1)
		{
			<br /><br />
			<div style="text-align: center" background-color:#ff0000;>
				<h3 style="color:red"><strong> @ViewBag.mensaje </strong></h3>
			</div>
		}
		<div class="pt-10 pb-16" id="form">
			<h1 class="title-form ">Bienvenido! </h1>
			<h3>Inicia sesión para entrar o Registrate para empezar</h3>
			<div class="container">
				<div class="father align-center">
					<div class="bg-success shadow-sm rounded p-4 align-content-center">
						<div class="card-header px-lg-3 px-2 pt-1 pb-0 border-0 bg-transparent">
							<div class="row d-flex justify-content-center">
								<div class="col">
									<nav>
										<div class="nav nav-tabs text-center align-center" role="tablist">
											<a class="nav-item nav-link font-weight-bold px-5 active" id="nav-login-tab" data-toggle="tab" href="#nav-login" role="tab" aria-controls="nav-login" aria-selected="true"><h2 style="color:chartreuse">Iniciar sesión</h2></a>
											<a class="nav-item nav-link font-weight-bold px-5" id="nav-register-tab" data-toggle="tab" href="#nav-register" role="tab" aria-controls="nav-register" aria-selected="true"><h2 style="color:chartreuse">Registrarse</h2></a>
										</div>
									</nav>
									<br />
									<br />
								</div>
							</div>
						</div>
						
						<div class="tab-content">
							<div class="tab-pane fade show active" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
								<div class="card-title px-lg-4 px-1 pb-3">
									<div class="form-group mb-2">
										
										 <input class="input" type="email" placeholder="Correo electrónico" required maxlength="30" disabled>
										@*<input class="cajas" type="email" placeholder="Correo" style="color:black" disabled="disabled">*@
									</div>
									<div class="form-group mb-3">
										
										<input class="input" id="txtPass" type="password" placeholder="Contraseña" required maxlength="30" disabled>
										@*<input class="cajas" id="txtPass" type="password" placeholder="Contraseña" style="color:black" disabled>*@
									</div>
									<div class="col-md-1" style="padding-right: 0px; padding-left: 0px;">
										<span class="input-group-btn">
											@*<button id="btn-mostrar-pass" class="btn2 bi-question-circle-fill" title="Mostar Contraseña" style=" border-radius: 0px 5px 5px 0px; background-color: #ffffff; border-right: 1px solid #d2d6de; border-top: 1px solid #d2d6de; border-bottom: 1px solid #d2d6de; border-left: 0px solid #d2d6de; width: 20px; height: 34px; top: 0px; color: #777;"></button>*@
											<button disabled type="button" id="btn-mostrar-pass" title="Mostar contraseña" style=" background-color: #808080;width:0px; height:0px; top: 0px; ">
												<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
													<path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
													<path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
												
												</svg>
											</button>

										</span>
									</div>
									@*<div class="form-check mb-4">
											<label class="form-check-label text-muted">
												<input class="form-check-input mr-2" type="checkbox" value="">
												<span class="small">Recordar contraseña</span>
											</label>
										</div>*@
									 @*<p class="paragraph">Antes de registrarte en nuestra plataforma debes aceptar nuestros terminos y condiciones de acuerdo a nuestras politicas y servicios</p>
										<p class="termino1"><input type="checkbox" style="background:#777">  Estoy de acuerdo con <a class="termino2" onclick="location.href='@Url.Action("Aviso", "Home")';return false;">Terminos y Condiciones</a></p>*@
									 
									@*<p class="terminos1"><input type="checkbox" required>&nbsp; Estoy de acuerdo con <a href="" class="terminos2">Terminos y condiciones</a></p>*@
								
									<div class="fath align-center">
										<div class="col-xs-6 col-sm-offset-3 align-center">
											@*<button disabled class="btn btn-success " type="submit" style=" border-radius: 0px 5px 5px 0px; background-color: #00ff90; border-right: 2px solid #d2d6de; border-top: 2px solid #d2d6de; border-bottom: 1px solid #d2d6de; border-left: 0px solid #d2d6de; width:120px; height:40px; top: 0px; ">Entrar</button>*@
											<input disabled class="btn" type="submit" value="Entrar a aprender">
										</div>
									</div>
									<br />
									<a class="text-muted small" onclick="location.href='@Url.Action("StartRecovery", "Access")';return false;" >Olvidastes tu contraseña
										<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.57 6.033H5.25C5.22 4.147 6.68 3.5 8.006 3.5c1.397 0 2.673.73 2.673 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.355H7.117l-.007-.463c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.901 0-1.358.603-1.358 1.384zm1.251 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z" />

										</svg>
									
									</a>
									<p><a href="" class="terminos2">* Por el momento no puede usar el apartado para registro de credenciales (correo y contraseña) solo el apartado de registro</a></p>
								

								</div>
							</div>

							<div class="tab-pane fade" id="nav-register" role="tabpanel" aria-labelledby="nav-register-tab">
								<div class="card-title px-lg-7 px-4 pt-6 pb-5">
									<div class="form-group">
										<button class="btn btn-success align-content-end" style="width:120px; height:40px" onclick="location.href='@Url.Action("RegAl", "RegUser")';return false;">Alumno</button>
									</div>
									<div class="form-group">
										<button class="btn btn-success align-content-end" style="width:120px; height:40px" onclick="location.href='@Url.Action("RegMa", "RegUser")';return false;">Maestro</button>
									</div>
									<div class="form-group">
										<button class="btn btn-success align-content-end" style="width:120px; height:40px" onclick="location.href='@Url.Action("RegTP", "RegUser")';return false;">Padre/Tutor</button>
									</div>
									<div class="form-group">
											<button class="btn btn-success align-content-end" style="width:120px; height:40px" onclick="location.href='@Url.Action("RegADM", "RegUser")';return false;">Soy Admin</button>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/popper.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script>
	var activadoMostrar = false;
	$('#btn-mostrar-pass').click(function () {
		if (activadoMostrar) {
			activadoMostrar = false; //La cambiamos a 0
			$('#txtPass').removeAttr("type", "text"); //Removemos el atributo de Tipo Texto
			$('#txtPass').prop("type", "password"); //Agregamos el atributo de Tipo Contraseña
		} else {
			activadoMostrar = true;
			$('#txtPass').removeAttr("type", "password"); //Removemos el atributo de Tipo Contraseña
			$('#txtPass').prop("type", "text"); //Agregamos el atributo de Tipo Texto(Para que se vea la Contraseña escribida)
		}
	});</script>

@*<script src="/js/slick.min.js"></script>
	<script src="/js/wow.min.js"></script>
	<script src="/js/jquery.fancybox.min.js"></script>
	<script src="/js/jarallax.js"></script>
	<script src="/js/smooth-scroll.js"></script>
	<script src="/js/jquery.bootstrap-autohidingnavbar.min.js"></script>
	<script src="/js/countUP.js" type="module"></script>
	<script src="/js/jquery.inview.min.js" type="module"></script>
	<script src="/js/pace.min.js" type="module"></script>
	<script src="/js/prism.js"></script>
	<script src="/js/typed.js"></script>
	<script src="/js/theme.js" type="module"></script>*@

@*<footer id="footer">
		<section>
			<h3>Colegio Paulo Freire</h3>
			<p>Servicios de Calidad Educativa A.C. se preocupa por la seguridad de tus datos, puedes leer el Aviso de Privacidad si tienes alguna duda sobre el uso de tu infomación.</p>
			<ul class="actions">

				<li><button class="button" type="button" onclick="location.href='@Url.Action("Privacidad", "Home")';return false;">Aviso de Privacidad &raquo;</button></li>
			</ul>
		</section>
		<section>
			<h2>Contacto</h2>
			<dl class="alt">
				<dt>Dirección</dt>
				<dd> <a href="https://goo.gl/maps/8JzFyUG3bn5pcGj1A" target="_blank"> Rafael Ávila Camacho no. 576 B </a> &bull; Ajalpan, CP 75910 &bull; México</dd>
				<dt>Teléfono</dt>
				<dd>(236) 381-1567</dd>
			</dl>
			<ul class="icons">
				<li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
			</ul>
		</section>
		<p class="copyright">&copy; CPF. Diseño css3: <a href="https://html5up.net" target="_blank">HTML5 UP</a>.</p>
	</footer>*@